{% extends 'base.html.twig' %}

{% block title %}EPortfolio{% endblock %}

{% block top_title %}
    <h1>EPortfolio de {{ user.getPrenom() }} {{ user.getNom() }}</h1>

    <p>{{ user.getDateNaissance() }} ({{ user.getAge() }})</p>

    {% if user.getPermis() %}
        <p>Permis B</p>
    {% endif %}

    <div class="right small-text">
        <a href="{{ path("admin_connexion") }}"><i class="fa fa-sign-in"></i> Administration - Connexion</a>
    </div>
{% endblock %}

{% block content %}
    <div class="panel" id="formation">
        <h1><i class="fa fa-graduation-cap"></i> Formations</h1>
        <div class="panel-content">
            {% if formations == null %}
                <p>Aucune formation n'a été ajoutée.</p>
            {% else %}
                {% for formation in formations | reverse %}
                    <div class="formation">
                        <p>{{ formation.getAnnees() }} - {{ formation.getFormation() }}
                            - {{ formation.getEtablissement() }}
                            ({{ formation.getVille() }})</p>
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="panel" id="experience">
        <h1><i class="fa fa-briefcase"></i> Expériences</h1>
        <div class="panel-content">
            {% if experiences == null %}
                <p>Aucune expérience n'a été ajoutée.</p>
            {% else %}
                <table>
                    <th>Période</th>
                    <th>Experience</th>
                    <th>Entreprise</th>
                    {% for experience in experiences | reverse %}
                        <tr>
                            <td>{{ experience.getPeriode() }}</td>
                            <td>{{ experience.getExperience() }}</td>
                            <td>{{ experience.getEntreprise() }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

    <div class="panel" id="competence">
        <h1><i class="fa fa-cogs"></i> Compétences</h1>
        <div class="panel-content">
            {% if competences == null %}
                <p>Aucune compétence n'a été ajoutée.</p>
            {% else %}
                {% for competence in competences %}
                    <div class="competence">
                        <img src="{{ asset(competence.getLogo()) }}" alt="{{ competence.getCompetence() }}"
                             width="100"/>
                        <p>{{ competence.getCompetence() }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="panel" id="projet">
        <h1><i class="fa fa-folder"></i> Projets Réalisés</h1>
        <div class="panel-content">
            {% if projets == null %}
                <p>Aucun projet n'a été ajouté.</p>
            {% else %}
                {% for projet in projets %}
                    <div class="projet">
                        <p>{{ projet.getProjet() }} - {{ projet.getDescription() }}</p>

                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="panel" id="recommandation">
        <h1><i class="fa fa-bullhorn"></i> Recommandations</h1>
        <div class="panel-content">
            {% if recommandations == null %}
                <p>Aucune recommandation n'a été ajoutée.</p>
            {% else %}
                {% for recommandation in recommandations %}
                    <div class="recommandation">
                        <h2>{{ recommandation.getPersonne() }} de {{ recommandation.getEntreprise() }}</h2>
                        <p><i class="fa fa-quote-left"></i> {{ recommandation.getRecommandation() }} <i class="fa fa-quote-right"></i></p>

                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="panel" id="publication">
        <h1><i class="fa fa-quote-left"></i> Publications</h1>
        <div class="panel-content">
            {% if publications == null %}
                <p>Aucune publication n'a été ajoutée.</p>
            {% else %}
                {% for publication in publications %}
                    <div class="publication">
                        <h2>{{ publication.getTitre() }}</h2>
                        <p>{{ publication.getPublication() }}</p>

                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="panel" id="contact">
        <h1><i class="fa fa-envelope"></i> Contact</h1>
        <div class="panel-content">
            <form action="{{ path("contact_me") }}" method="post">
                <div class="form-row">
                    {{ form_label(contact.email) }}
                    {{ form_widget(contact.email) }}
                </div>

                <div class="form-row">
                    {{ form_label(contact.objet) }}
                    {{ form_widget(contact.objet) }}
                </div>

                <div class="form-row">
                    <label>Votre message</label>
                    <br>
                    {{ form_widget(contact.msg) }}
                </div>

                <div class="form-submit">
                    {{ form_widget(contact.Envoyer) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}