{% extends "base.html.twig" %}


{% block title %}Efolio - Admin{% endblock %}

    {% block menu %}
        <li><a href="{{ path("admin_formations") }}"><i class="fa fa-graduation-cap"></i> Formations</a></li>
        |
        <li><a href="{{ path("admin_experiences") }}"><i class="fa fa-briefcase"></i> Expériences</a></li>
        |
        <li><a href="{{ path("admin_competences") }}"><i class="fa fa-cogs"></i> Compétences</a></li>
        |
        <li><a href="{{ path("admin_projets") }}"><i class="fa fa-code"></i> Projets</a></li>
        |
        <li><a href="{{ path("admin_recommandations") }}"><i class="fa fa-bullhorn"></i> Recommandations</a></li>
        |
        <li><a href="{{ path("admin_publications") }}"><i class="fa fa-quote-left"></i> Publications</a></li>
        |
        <li><a href="{{ path("admin_info") }}"><i class="fa fa-quote-left"></i> Informations Personnelles</a></li>
        |
        <li><a href="{{ path("admin_deconnexion") }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
    {% endblock %}

{% block content %}{% endblock %}