{% extends 'base.html.twig' %}

{% block title %}Efolio - Admin{% endblock %}

{% block content %}
    <a href="{{ path("admin_deconnexion") }}">Déconnexion</a>

    <div class="panel">
        <h1>Formation</h1>
        <div class="panel-content">
            <form action="{{path('add_formation')}}" method="POST">
                <label for="annees">Années</label>
                <input type="text" name="annees" placeholder="XXXX - XXXX" size="10"/>
                <br><br>
                <label for="formation">Formation </label>
                <input type="text" name="formation" size="50"/>
                <br><br>
                <label for="etablissement">Etablissement</label>
                <input type="text" name="etablissement" size="50"/>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

    <div class="panel">
        <h1>Compétence</h1>
        <div class="panel-content">
            <form action="{{path('add_competence')}}" method="POST">
                <label for="competence">Compétence</label>
                <input type="text" name="competence" size="10"/>
                <br><br>
                <label for="logo">Logo</label>
                <input type="file" name="logo" placeholder="Sélectionner une image"/>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

    <div class="panel">
        <h1>Publication</h1>
        <div class="panel-content">
            <form action="{{path('add_publication')}}" method="POST">
                <label>Titre</label>
                <input type="text" name="titre" size="10"/>
                <br><br>
                <label>Contenu</label>
                <textarea name="contenu"></textarea>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

    <div class="panel">
        <h1>Recommandation</h1>
        <div class="panel-content">
            <form action="{{path('add_recommandation')}}" method="POST">
                <label>Personne</label>
                <input type="text" name="personne" placeholder="Nom Prénom" size="10"/>
                <br><br>
                <label>Entreprise</label>
                <input type="text" name="entreprise" size="10"/>
                <br><br>
                <label>Contenu </label>
                <textarea name="contenu"></textarea>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>
{% endblock %}