{% extends 'base.html.twig' %}

{% block title %}Efolio - Admin{% endblock %}

{% block top_title %}Formations{% endblock %}

{% block content %}

    {% if formations != null %}
        <div class="panel">
            <h1>Modifier mes formations</h1>

            <div class="panel-content">
                {% for formation in formations %}
                    <form action="{{ path("set_formation") }}" method="post">
                        <input type="number" name="id" hidden value="{{ formation.getId() }}">
                        <label for="annees">Années</label>
                        <input type="text" name="annees" placeholder="XXXX - XXXX" size="10"
                               value="{{ formation.getAnnees() }}"/>
                        <br><br>
                        <label for="formation">Formation </label>
                        <input type="text" name="formation" size="50" value="{{ formation.getFormation() }}"/>
                        <br><br>
                        <label for="etablissement">Etablissement</label>
                        <input type="text" name="etablissement" size="50" value="{{ formation.getEtablissement() }}"/>
                        <br><br>
                        <label for="ville">Ville</label>
                        <input type="text" name="ville" size="50" value="{{ formation.getVille() }}"/>
                        <br><br>
                        <input type="submit" name="action" value="Modifier">
                        <input type="submit" name="action" value="Supprimer">
                    </form>

                    {% if loop.last == false %}
                        <br>
                        <hr>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1>Nouvelle formation</h1>

        <div class="panel-content">
            <form action="{{ path('add_formation') }}" method="POST">
                <label for="annees">Années</label>
                <input type="text" name="annees" placeholder="XXXX - XXXX" size="10"/>
                <br><br>
                <label for="formation">Formation </label>
                <input type="text" name="formation" size="50"/>
                <br><br>
                <label for="etablissement">Etablissement</label>
                <input type="text" name="etablissement" size="50"/>
                <br><br>
                <label for="ville">Ville</label>
                <input type="text" name="ville" size="50"/>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

{% endblock %}