{% extends 'baseAdmin.html.twig' %}

{% block top_title %}<h1><i class="fa fa-graduation-cap"></i> Formations</h1>{% endblock %}

{% block content %}

    {% if formations != null %}
        <div class="panel">
            <h1><i class="fa fa-edit"></i> Modifier mes formations</h1>

            <div class="panel-content">
                {% for formation in formations %}
                    <form action="{{ path("set_formation") }}" method="post">
                        <input type="number" name="id" hidden value="{{ formation.getId() }}">

                        <div class="form-row">
                            <label for="annees">Années</label>
                            <input type="text" name="annees" id="annees"
                                   value="{{ formation.getAnnees() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="formation">Formation </label>
                            <input type="text" name="formation" id="formation" value="{{ formation.getFormation() }}"
                                   required/>
                        </div>

                        <div class="form-row">
                            <label for="etablissement">Etablissement</label>
                            <input type="text" name="etablissement" id="etablissement"
                                   value="{{ formation.getEtablissement() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="ville">Ville</label>
                            <input type="text" name="ville" id="ville" value="{{ formation.getVille() }}" required/>
                        </div>

                        <div class="form-submit">
                            <input type="submit" name="action" value="Modifier">
                            <input type="submit" name="action" value="Supprimer">
                        </div>
                    </form>

                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1><i class="fa fa-plus"></i> Nouvelle formation</h1>

        <div class="panel-content">
            <form action="{{ path('add_formation') }}" method="POST">
                <div class="form-row">
                    <label for="annees">Années</label>
                    <input type="text" name="annees" id="annees" required/>
                </div>

                <div class="form-row">
                    <label for="formation">Formation </label>
                    <input type="text" name="formation" id="formation" required/>
                </div>

                <div class="form-row">
                    <label for="etablissement">Etablissement</label>
                    <input type="text" name="etablissement" id="etablissement" required/>
                </div>

                <div class="form-row">
                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville" required/>
                </div>

                <div class="form-submit">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}