{% extends 'baseAdmin.html.twig' %}

{% block top_title %}<h1><i class="fa fa-folder"></i> Projets</h1>{% endblock %}

{% block content %}

    {% if projets != null %}
        <div class="panel">
            <h1><i class="fa fa-edit"></i> Modifier mes projets</h1>

            <div class="panel-content">
                {% for projet in projets %}
                    <form action="{{ path("set_projet") }}" method="post">
                        <input type="number" name="id" hidden value="{{ projet.getId() }}">

                        <div class="form-row">
                            <label for="annee">Année</label>
                            <input type="text" name="annee" id="annee"
                                   value="{{ projet.getAnnee() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="projet">Projet </label>
                            <input type="text" name="projet" id="projet" value="{{ projet.getProjet() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" rows="5" cols="50"
                                      required>{{ projet.getDescription() }}</textarea>
                        </div>

                        <div class="form-submit">
                            <input type="submit" name="action" value="Modifier">
                            <input type="submit" name="action" value="Supprimer">
                        </div>
                    </form>

                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1><i class="fa fa-plus"></i> Nouveau projet</h1>

        <div class="panel-content">
            <form action="{{ path('add_projet') }}" method="POST">
                <div class="form-row">
                    <label for="annee">Année</label>
                    <input type="text" name="annee" id="annee" required/>
                </div>

                <div class="form-row">
                    <label for="projet">Projet </label>
                    <input type="text" name="projet" id="projet" required/>
                </div>

                <div class="form-row">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="5" cols="50" required></textarea>
                </div>

                <div class="form-submit">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}