{% extends 'baseAdmin.html.twig' %}

{% block top_title %}Publications{% endblock %}

{% block admin_content %}

    {% if publications != null %}
        <div class="panel">
            <h1>Modifier mes publications</h1>

            <div class="panel-content">
                {% for publication in publications %}
                    <form action="{{ path("set_publication") }}" method="post">
                        <input type="number" name="id" hidden value="{{ publication.getId() }}">
                        <label for="titre">Titre</label>
                        <input type="text" name="titre" size="50" value="{{ publication.getTitre() }}"/>
                        <br><br>
                        <label for="publication">Publication </label>
                        <textarea name="publication" rows="5" cols="50">{{ publication.getPublication() }}</textarea>
                        <br><br>
                        <input type="submit" name="action" value="Modifier">
                        <input type="submit" name="action" value="Supprimer">
                    </form>

                    {% if loop.last == false %}
                        <br>
                        <hr>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1>Nouvelle publication</h1>

        <div class="panel-content">
            <form action="{{ path('add_publication') }}" method="POST">
                <label for="titre">Titre</label>
                <input type="text" name="titre" size="50"/>
                <br><br>
                <label for="publication">Publication </label>
                <textarea name="publication" rows="5" cols="50"></textarea>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

{% endblock %}