{% extends 'baseAdmin.html.twig' %}

{% block top_title %}<h1>Publications</h1>{% endblock %}

{% block content %}

    {% if publications != null %}
        <div class="panel">
            <h1><i class="fa fa-edit"></i> Modifier mes publications</h1>

            <div class="panel-content">
                {% for publication in publications %}
                    <form action="{{ path("set_publication") }}" method="post">
                        <input type="number" name="id" hidden value="{{ publication.getId() }}">

                        <div class="form-row">
                            <label for="titre">Titre</label>
                            <input type="text" name="titre" id="titre" value="{{ publication.getTitre() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="publication">Publication </label>
                            <textarea name="publication" rows="5" cols="50"
                                      required>{{ publication.getPublication() }}</textarea>
                        </div>

                        <div class="form-submit">
                            <input type="submit" name="action" value="Modifier">
                            <input type="submit" name="action" value="Supprimer">
                        </div>
                    </form>

                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1><i class="fa fa-plus"></i> Nouvelle publication</h1>

        <div class="panel-content">
            <form action="{{ path('add_publication') }}" method="POST">
                <div class="form-row">
                    <label for="titre">Titre</label>
                    <input type="text" name="titre" id="titre" required/>
                </div>

                <div class="form-row">
                    <label for="publication">Publication</label>
                    <textarea name="publication" rows="5" cols="50" required></textarea>
                </div>

                <div class="form-submit">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}