{% extends 'baseAdmin.html.twig' %}

{% block top_title %}<h1>Recommandations</h1>{% endblock %}

{% block content %}
    {% if recommandations != null %}
        <div class="panel">
            <h1><i class="fa fa-edit"></i> Modifier mes recommandations</h1>

            <div class="panel-content">
                {% for recommandation in recommandations %}
                    <form action="{{ path("set_recommandation") }}" method="post">
                        <input type="number" name="id" hidden value="{{ recommandation.getId() }}">

                        <div class="form-row">
                            <label for="personne">Personne</label>
                            <input type="text" name="personne" id="personne" value="{{ recommandation.getPersonne() }}"
                                   required/>
                        </div>

                        <div class="form-row">
                            <label for="entreprise">Entreprise</label>
                            <input type="text" name="entreprise" id="entreprise"
                                   value="{{ recommandation.getEntreprise() }}" required/>
                        </div>

                        <div class="form-row">
                            <label for="recommandation">Recommandation </label>
                            <textarea name="recommandation" id="recommandation" rows="5" cols="50" required>
                                {{ recommandation.getRecommandation() }}
                            </textarea>
                        </div>

                        <div class="form-submit">
                            <input type="submit" name="action" value="Modifier">
                            <input type="submit" name="action" value="Supprimer">
                        </div>
                    </form>

                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1><i class="fa fa-plus"></i> Nouvelle recommandation</h1>

        <div class="panel-content">
            <form action="{{ path('add_recommandation') }}" method="POST">
                <div class="form-row">
                    <label for="personne">Personne</label>
                    <input type="text" name="personne" id="personne" required/>
                </div>

                <div class="form-row">
                    <label for="entreprise">Entreprise</label>
                    <input name="entreprise" id="entreprise" required/>
                </div>

                <div class="form-row">
                    <label for="recommandation">Recommandation</label>
                    <textarea name="recommandation" id="recommandation" rows="5" cols="50" required></textarea>
                </div>

                <div class="form-submit">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}